<launch>
  <!-- Launch file for hesai  Pandar 64 LiDAR-->

    <arg name="rviz" default="true" />

    <rosparam command="load" file="$(find fast_lio_sam)/config/hesai.yaml" /> 
    <node pkg="fast_lio_sam" type="fastlio_sam_mapping" name="laserMapping" output="screen">
        <param name="decimation" type="double" value="4"/>
        <param name="voxel_size" type="double" value="0.0"/> 
    </node>
    <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find fast_lio_sam)/rviz_cfg/loam_livox.rviz" />
    </group>

</launch>
